### Install yfinance

!pip install yfinance

!pip install pandas_datareader

In [49]:
import yfinance as yf
from datetime import datetime

# Define the ticker symbol
ticker_symbol = 'AAPL'  # Example: Apple Inc. (AAPL)

# Get stock data
stock_data = yf.Ticker(ticker_symbol)

# Fetch historical data
historical_data = stock_data.history(period="1mo")  # Fetching data for the last 1 month

historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-10 00:00:00-04:00,178.100006,179.720001,177.949997,178.389999,43698000,0.0,0.0
2023-10-11 00:00:00-04:00,178.199997,179.850006,177.600006,179.800003,47551100,0.0,0.0
2023-10-12 00:00:00-04:00,180.070007,182.339996,179.039993,180.710007,56743100,0.0,0.0
2023-10-13 00:00:00-04:00,181.419998,181.929993,178.139999,178.850006,51427100,0.0,0.0
2023-10-16 00:00:00-04:00,176.750000,179.080002,176.509995,178.720001,52517000,0.0,0.0
2023-10-17 00:00:00-04:00,176.649994,178.419998,174.800003,177.149994,57549400,0.0,0.0
2023-10-18 00:00:00-04:00,175.580002,177.580002,175.110001,175.839996,54764400,0.0,0.0
2023-10-19 00:00:00-04:00,176.039993,177.839996,175.190002,175.460007,59302900,0.0,0.0
2023-10-20 00:00:00-04:00,175.309998,175.419998,172.639999,172.880005,64189300,0.0,0.0
2023-10-23 00:00:00-04:00,170.910004,174.009995,169.929993,173.000000,55980100,0.0,0.0
2023-10-24 00:00:00-04:00,173.050003,173.669998,171.449997,173.440002,43816600,0.0,0.0
2023-10-25 00:00:00-04:00,171.880005,173.059998,170.649994,171.100006,57157000,0.0,0.0
2023-10-26 00:00:00-04:00,170.369995,171.380005,165.669998,166.889999,70625300,0.0,0.0
2023-10-27 00:00:00-04:00,166.910004,168.960007,166.830002,168.220001,58499100,0.0,0.0
2023-10-30 00:00:00-04:00,169.020004,171.169998,168.869995,170.289993,51131000,0.0,0.0
2023-10-31 00:00:00-04:00,169.350006,170.899994,167.899994,170.770004,44846000,0.0,0.0
2023-11-01 00:00:00-04:00,171.000000,174.229996,170.119995,173.970001,56934900,0.0,0.0
2023-11-02 00:00:00-04:00,175.520004,177.779999,175.460007,177.570007,77334800,0.0,0.0
2023-11-03 00:00:00-04:00,174.240005,176.820007,173.350006,176.649994,79763700,0.0,0.0
2023-11-06 00:00:00-05:00,176.380005,179.429993,176.210007,179.229996,63841300,0.0,0.0
2023-11-07 00:00:00-05:00,179.179993,182.440002,178.970001,181.820007,70530000,0.0,0.0
2023-11-08 00:00:00-05:00,182.350006,183.449997,181.589996,182.889999,49340300,0.0,0.0
2023-11-09 00:00:00-05:00,182.960007,184.119995,181.809998,182.410004,53673900,0.0,0.0

In [10]:
from pandas_datareader import data as pdr

yf.pdr_override()

In [43]:
tickers = ["NFLX"]

In [44]:

inicio = datetime(2018,9,26)
fin = datetime(2023,9,26)

In [45]:
datos = pdr.get_data_yahoo(tickers,inicio,fin)

[*********************100%%**********************]  1 of 1 completed

In [46]:
datos

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-09-26,373.589996,382.000000,370.880005,377.880005,377.880005,13799700
2018-09-27,379.869995,383.200012,376.000000,380.709991,380.709991,7326200
2018-09-28,379.239990,380.799988,373.730011,374.130005,374.130005,7114900
2018-10-01,375.850006,386.109985,375.589996,381.429993,381.429993,8376600
2018-10-02,384.380005,386.799988,373.829987,377.140015,377.140015,8638700
...,...,...,...,...,...,...
2023-09-19,392.839996,398.230011,390.250000,396.200012,396.200012,4076800
2023-09-20,397.049988,397.989990,386.119995,386.299988,386.299988,3866600
2023-09-21,386.500000,395.899994,383.420013,384.149994,384.149994,5547900
2023-09-22,385.000000,386.880005,378.359985,379.809998,379.809998,3692800
2023-09-25,382.899994,386.619995,380.809998,384.799988,384.799988,3757300

#### Get SP500 tickers from wikipedia (should check to see if it is updated/reliable)

In [31]:
import pandas as pd

# Example of a URL where you can find the constituents of the S&P 500 index
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'


# Reading tables from the URL
data = pd.read_html(url)

# The first table on the page often contains the S&P 500 constituents
df = data[0]
df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [32]:
ticker_list = df['Symbol'].tolist()
ticker_list

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADM',
 'ADBE',
 'ADP',
 'AES',
 'AFL',
 'A',
 'ABNB',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BG',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CDAY',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FSLR',
 'FE',
 'FIS',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WAB',
 'WBA',
 'WMT',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [50]:
inicio = datetime(2003,12,31)
fin = datetime(2023,11,9)


try:
    datos = pdr.get_data_yahoo(ticker_list, inicio, fin)
except pdr._utils.RemoteDataError as e:
    print(f"Error fetching data: {e}")

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2003-12-31 00:00:00 -> 2023-11-09 00:00:00)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [51]:
datos

             Adj Close                                                        \
                     A    AAL        AAPL        ABBV        ABNB        ABT
Date
2003-12-31   17.770514    NaN    0.323907         NaN         NaN  13.094325
2004-01-02   17.503099    NaN    0.322543         NaN         NaN  13.136476
2004-01-05   17.958912    NaN    0.336033         NaN         NaN  13.136476
2004-01-06   18.524111    NaN    0.334820         NaN         NaN  13.040934
2004-01-07   18.761129    NaN    0.342399         NaN         NaN  13.178625
...                ...    ...         ...         ...         ...        ...
2023-11-02  104.470001  11.40  177.570007  143.259995  115.500000  95.959999
2023-11-03  109.019997  11.98  176.649994  141.419998  122.639999  95.839996
2023-11-06  107.529999  11.66  179.229996  141.199997  118.169998  95.000000
2023-11-07  110.540001  11.75  181.820007  142.160004  121.080002  94.800003
2023-11-08  109.389999  12.01  182.889999  142.029999  117.660004  94.739998

                                                           ...   Volume  \
                 ACGL         ACN        ADBE         ADI  ...     WYNN
Date                                                       ...
2003-12-31   4.428889   18.959492   19.508419   29.084883  ...   262500
2004-01-02   4.488889   18.671360   19.518398   29.174082  ...   161600
2004-01-05   4.455556   19.204411   19.867834   30.072430  ...   249200
2004-01-06   4.450000   18.981106   19.887802   30.747782  ...   519100
2004-01-07   4.441111   18.548899   19.694550   31.053608  ...   552800
...               ...         ...         ...         ...  ...      ...
2023-11-02  85.940002  308.119995  558.710022  164.339996  ...  1839800
2023-11-03  85.550003  313.489990  563.659973  167.919998  ...  1866100
2023-11-06  85.160004  313.089996  565.450012  167.570007  ...  2470600
2023-11-07  85.410004  315.190002  585.200012  168.110001  ...  1994000
2023-11-08  84.120003  317.820007  585.309998  168.910004  ...  2621400

                                                                             \
                XEL       XOM     XRAY        XYL      YUM      ZBH    ZBRA
Date
2003-12-31  3377900  11637000   796200        NaN  2718849  1068213  606000
2004-01-02  1271900  12180000   502800        NaN  3226285   688143  339900
2004-01-05  2620400  14668100   856400        NaN  2716067  1223846  640950
2004-01-06  2421000  12364400  1152000        NaN  4142120  1202216  311700
2004-01-07  2422100  13561500   826600        NaN  3602968   866127  495150
...             ...       ...      ...        ...      ...      ...     ...
2023-11-02  3961300  25212700  8659200  1666600.0  1920500  3030300  758500
2023-11-03  3920600  30549000  5097400  1852500.0  1754600  2140100  540800
2023-11-06  3139700  19097300  4935000  1324300.0  1537900  2443700  373800
2023-11-07  3515300  20272500  3418500  1385100.0  1408000  2699200  613300
2023-11-08  3953300  19184100  3766000  1062400.0  1015300  1524700  525900


               ZION        ZTS
Date
2003-12-31   431600        NaN
2004-01-02   462900        NaN
2004-01-05   598400        NaN
2004-01-06   612200        NaN
2004-01-07   754700        NaN
...             ...        ...
2023-11-02  3026800  4137800.0
2023-11-03  2598900  1974700.0
2023-11-06  1551900  2112500.0
2023-11-07  1763500  2938200.0
2023-11-08  1755000  3326300.0

[4999 rows x 3018 columns]

In [52]:
datos.to_csv("stocks.csv", index=False)